{% extends 'base.html' %}

{% block head %}
    <title>Cadastros</title>
    <script>
        function exibirFormulario() {
            const modelo = document.getElementById('modelo').value;
            const formularios = document.querySelectorAll('.formulario-cadastro');
            
            // Esconde todos os formulários
            formularios.forEach(formulario => formulario.style.display = 'none');
            
            // Exibe o formulário correspondente ao valor selecionado, se houver
            if (modelo) {
                const formSelecionado = document.getElementById(`form-${modelo}`);
                if (formSelecionado) {
                    formSelecionado.style.display = 'block';
                }
            }
        }
    </script>
{% endblock head %}

{% block content %}
    <h1>Cadastros</h1>
    <form>
        <label for="modelo">Escolha o que deseja cadastrar:</label><br>
        <select id="modelo" name="modelo" onchange="exibirFormulario()">
            <option value="">Selecione...</option>
            <option value="produtos">Livros</option>
            <option value="clientes">Alunos</option>
            <option value="editoras">Editoras</option>
            <option value="categorias">Categorías</option>
        </select>
    </form>

    <!-- Formulários de Cadastro -->
    <div id="form-produtos" class="formulario-cadastro" style="display:none;">
        <form method="post" action="{% url 'cadastrar_produto' %}">
            {% csrf_token %}
            {{ form_produto.as_p }}  <!-- Exibe o formulário de produto aqui -->
            <button type="submit">Salvar</button>
        </form>
    </div>
    <div id="form-clientes" class="formulario-cadastro" style="display:none;">
        <form method="post" action="{% url 'cadastrar_cliente' %}">
            {% csrf_token %}
            {{ form_cliente.as_p }}  <!-- Exibe o formulário de cliente aqui -->
            <button type="submit">Salvar</button>
        </form>
    </div>
    <div id="form-editoras" class="formulario-cadastro" style="display:none;">
        <form method="post" action="{% url 'cadastrar_editora' %}">
            {% csrf_token %}
            {{ form_editora.as_p }}  <!-- Exibe o formulário de editora aqui -->
            <button type="submit">Salvar</button>
        </form>
    </div>
    <div id="form-categorias" class="formulario-cadastro" style="display:none;">
        <form method="post" action="{% url 'cadastrar_tipo_produto' %}">
            {% csrf_token %}
            {{ form_categoria.as_p }}  <!-- Exibe o formulário de categoria aqui -->
            <button type="submit">Salvar</button>
        </form>
    </div>
{% endblock content %}


