{% extends 'base.html' %}

{% block head %}
    <title>Cadastros</title>
    <script>
        function exibirFormulario() {
            const modelo = document.getElementById('modelo').value;
            const formularios = document.querySelectorAll('.formulario-cadastro');
            
            // Esconde todos os formulários
            formularios.forEach(formulario => formulario.style.display = 'none');
            
            // Exibe o formulário correspondente ao valor selecionado, se houver
            if (modelo) {
                const formSelecionado = document.getElementById(`form-${modelo}`);
                if (formSelecionado) {
                    formSelecionado.style.display = 'block';
                }
            }
        }
    </script>
{% endblock head %}

{% block content %}
    <h1>Cadastros</h1>
    <form>
        <label for="modelo">Escolha o que deseja cadastrar:</label><br>
        <select id="modelo" name="modelo" onchange="exibirFormulario()">
            <option value="">Selecione...</option>
            <option value="livros">Livros</option>
            <option value="alunos">Alunos</option>
            <option value="editoras">Editoras</option>
            <option value="categorias">Categorías</option>
        </select>
    </form>

    <!-- Adicione formulários semelhantes para editoras e categorias -->
    
    <!-- Formulários de Cadastro -->
    <div id="form-livros"  class="formulario-cadastro" style="display:none;">
        <form method="post" action="?modelo=livros"> {% comment %} action="{% url 'cadastrar_livro' %}" {% endcomment %}
            {% csrf_token %}
            {{ form_livros.as_p }}  <!-- Exibe o formulário de livros aqui -->
            <button type="submit">Salvar</button>
        </form>
    </div>
    <div id="form-alunos"  class="formulario-cadastro" style="display:none;">
        <form method="post" action="?modelo=alunos"> {% comment %} action="{% url 'cadastrar_aluno' %}" {% endcomment %}
            {% csrf_token %}
            {{ form_alunos.as_p }}  <!-- Exibe o formulário de alunos aqui -->
            <button type="submit">Salvar</button>
        </form>
    </div>
    <div id="form-editoras" class="formulario-cadastro" style="display:none;">
        <form method="post" action="?modelo=editoras"> {% comment %} action="{% url 'cadastrar_editora' %}" {% endcomment %}
            {% csrf_token %}
            {{ form_editoras.as_p }}  <!-- Exibe o formulário de editoras aqui -->
            <button type="submit">Salvar</button>
        </form>
    </div>
    <div id="form-categorias" class="formulario-cadastro" style="display:none;">
        <form method="post" action="?modelo=categorias"> {% comment %} action="{% url 'cadastrar_categoria' %}" {% endcomment %}
            {% csrf_token %}
            {{ form_categorias.as_p }}  <!-- Exibe o formulário de categorias aqui -->
            <button type="submit">Salvar</button>
        </form>
    </div>
{% endblock content %}


