{% comment %} {% extends 'base.html' %}

{% block head %}
<title>{% block 'title' %}Cadastro Clientes{% endblock 'title' %}</title>
{% endblock %}

{% block content %}
    <h3>Cadastrar Usuario</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
    <a href="{% url 'landing_page' %}">Voltar</a>
{% endblock %} {% endcomment %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar</button>
</form>