{% extends 'base.html' %}

{% block head %}
    <title>Empréstimos</title>
    <script>
        function mostrarNovoEmprestimo() {
            document.getElementById("novo-emprestimo-form").style.display = "block";
            document.getElementById("emprestimos-ativos").style.display = "none";
        }

        function mostrarEmprestimosAtivos() {
            document.getElementById("emprestimos-ativos").style.display = "block";
            document.getElementById("novo-emprestimo-form").style.display = "none";
        }
    </script>
{% endblock head %}

{% block content %}
    <h1>Empréstimos</h1>

    <button onclick="mostrarNovoEmprestimo()">Novo Empréstimo</button>
    <button onclick="mostrarEmprestimosAtivos()">Empréstimos Ativos</button>

    <div id="novo-emprestimo-form" style="display: none;">
        <h2>Novo Empréstimo</h2>
        <form method="post" action="{% url 'emprestimo' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Gerar Empréstimo</button>
        </form>
    </div>

    <div id="emprestimos-ativos" style="display: none;">
        <h2>Empréstimos Ativos</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Aluno</th>
                    <th>Título do Livro</th>
                    <th>Data de Empréstimo</th>
                    <th>Data de Devolução</th>
                    <th>Situação</th>
                </tr>
            </thead>
            <tbody>
                {% for emprestimo in emprestimos %}
                    <tr>
                        <td>{{ emprestimo.aluno.nome }}</td>
                        <td>{{ emprestimo.livro.titulo }}</td>
                        <td>{{ emprestimo.data_emprestimo|date:"d/m/Y" }}</td>
                        <td>{{ emprestimo.data_devolucao|date:"d/m/Y" }}</td>
                        <td><a href="{% url 'alterar_status_ativo' emprestimo.id %}">Devolver</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">Sem empréstimos ativos.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    
{% endblock content %}
