{% extends 'base.html' %}

{% block head %}
    <title>Empréstimos</title>
    <script>
        function mostrarNovoEmprestimo() {
            document.getElementById("novo-emprestimo-form").style.display = "block";
            document.getElementById("emprestimos-ativos").style.display = "none";
        }

        function mostrarEmprestimosAtivos() {
            document.getElementById("emprestimos-ativos").style.display = "block";
            document.getElementById("novo-emprestimo-form").style.display = "none";
        }
    </script>
{% endblock head %}

{% block content %}
    <h1>Empréstimos</h1>
    <div style='display: flex'>
        <button class='btn' onclick="mostrarNovoEmprestimo()">Novo Empréstimo</button>
        <button class='btn' onclick="mostrarEmprestimosAtivos()">Empréstimos Ativos</button>
    </div>

    <div id="novo-emprestimo-form" style="display: none;">
        <h2>Novo Empréstimo</h2>
        <form method="post" action="{% url 'emprestimo' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class='btn' type="submit">Gerar Empréstimo</button>
        </form>
    </div>

    <div id="emprestimos-ativos" style="display: none;">
        <h2>Empréstimos Ativos</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Aluno</th>
                    <th>Livro</th>
                    <th>Data Empréstimo</th>
                    <th>Data Prevista</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for emprestimo in emprestimos %}
                    <tr>
                        <td>{{ emprestimo.aluno.nome }}</td>
                        <td>{{ emprestimo.livro.titulo }}</td>
                        <td>{{ emprestimo.data_emprestimo }}</td>
                        <td>{{ emprestimo.data_prev }}</td>
                        <td>{% if emprestimo.ativo %}Ativo{% else %}Inativo{% endif %}</td>
                        <td>
                            {% if emprestimo.ativo %}
                                <a href="{% url 'devolver_livro' emprestimo.id %}">Devolver</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
{% endblock content %}
