{% extends 'base.html' %}

{% block head %}
    <title>Lista de Livros</title>
{% endblock head %}
{% block content %}
    <h1>Lista de Livros:</h1>
    <button onclick="window.location.href='{% url 'consulta' %}'">Voltar</button>

    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Volume</th>
                <th>Edição</th>
                <th>Ano</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.titulo }}</td>
                    <td>{{ produto.autor }}</td>
                    <td>{{ produto.volume }}</td>
                    <td>{{ produto.edicao }}</td>
                    <td>{{ produto.ano }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Nenhum livro encontrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
