{% extends 'base.html' %}

{% block head %}
    <title>Lista de Editoras</title>
{% endblock head %}
{% block content %}
    <h1>Lista de Editoras</h1>
    <button onclick="window.location.href='{% url 'consulta' %}'">Voltar</button>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Ativo</th>
            </tr>
        </thead>
        <tbody>
            {% for editora in editoras %}
                <tr>
                    <td>{{ editora.nome }}</td>
                    <td>{{ editora.fone }}</td>
                    <td>{{ editora.email }}</td>
                    <td>{{ editora.ativo }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Nenhuma editora encontrada.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}